button {
    background-color:rgb(243, 113, 226);
    margin-top: 7px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    border-radius:5%;
    box-shadow: 0 2px #999;
    
}

button:hover {
    background-color: rgba(243, 113, 226, 0.671);
}

button:active {
  background-color: #813e8e;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.oled {
    background-color: rgb(243, 113, 226);
    margin: 0;
    font-size: 50px;
    border-style: solid;
    width: 288px;
    height: 60px;
    text-align: right;
    color:rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    
}


div { 
    width: 350px; 
    height: 75px; 
     
    margin: 0px auto; 
}
body {
    background-color: #9696a581;
}

#copyrate {
 
    margin-top : 5px;
    

}



